<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <form th:action="@{/save}" method="post">
   <table>
         <tr>
             <td>First Name</td>
             <td><input type="text" th:field="*{firstName}"/></td>
         </tr>
         <tr>
             <td>Last Name</td>
             <td><input type="text" th:field="*{lastName}"/></td>
         </tr>
         <tr>
             <td>Phno:</td>
             <td><input type="text" th:field="*{phno}"/></td>
         </tr>
         <tr>
             <td>Email</td>
             <td><input type="text" th:field="*{email}"/></td>
         </tr>
         <tr>
             <td>Address</td>
             <td><input type="text" th:field="*{addr}"/></td>
         </tr>
         <tr>
             <td></td>
             <td><input type="submit" value="submit"/></td>
         </tr>
   </table>
  </form>
</body>
</html>