body{
    background: red;
    background-size: cover;;
}
div{
    background: olivedrab;
    width: auto;
    height: auto;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 1px 3px 3px blue transparent;
    color: blue;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: blue ;
    font-size: 16px;
}
a:hover{
    text-decoration: underline;
    color: red;
}
.text{
    font-size: 18px;
}
